<form class="form-inline" action="/url">
  <label class="sr-only" for="inlineFormInputName2">Repo</label>
  <input type="text" class="form-control mb-2 mr-sm-2"
         id="url"
         name="url"
         placeholder="https://github.com/rails/rails"
         value="<%= params[:url] %>">

  <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>
