<form action="/url" method="post">
  <%= token_tag(nil) %>
  <div class="form-row align-items-center w-100">
    <div class="col-auto w-75">
      <label class="sr-only" for="inlineFormInput">Repo</label>
      <input type="text" class="form-control"
             id="url"
             name="url"
             placeholder="заполните url, например - https://github.com/rails/rails"
             value="<%= params[:url] %>"
             required="required"
             autofocus="autofocus">
    </div>
    <div class="col-auto w-25 align-top">
      <button type="submit" class="btn btn-primary mt-2 mb-2 w-100 align-top">Search</button>
    </div>
  </div>
  <blockquote class="ml-2 small">
      https://github.com/rails/rails
      <br/>
      https://github.com/h4cc/awesome-elixir
  </blockquote>
</form>