<%= render 'form' %>
<% unless @committers.present? %>
  <div class="alert alert-danger" role="alert">
    Ошибка получения данных по репозиторию.
    Проверьте адрес и повторите.
  </div>
<% else @committers.present? %>
  <table class="table">
    <thead>
    <tr>
      <th>Place</th>
      <th>Committer</th>
      <th>Commits</th>
      <th></th>
    </tr>
    </thead>
    <% @commiters.each do |cmtr| %>
      <tr>
        <td><%= cmtr.place %></td>
        <th><%= cmtr.author %></th>
        <td><%= cmtr.total %></td>
        <td><a href="pdf/#{cmtr.id}">download pdf</a></td>
      </tr>
    <% end %>
  </table>

  <a href="#">Download Zip (3)</a>
<% end %>
